/* HAMBURGER MENU BOX */
.hamburger-menu-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background: #99a4be;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 5;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  text-align: center;
  padding-top: 86px;
}
.hamburger-menu-box .menu {
  width: 100%;
  float: left;
  padding: 30px calc(25vw - 50px);
  display: none;
}
.hamburger-menu-box .menu .navbar-nav {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
  text-align: left;
}
.hamburger-menu-box .menu .navbar-nav .nav-item {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}
.hamburger-menu-box .menu .navbar-nav .nav-item ul {
  width: 100%;
  float: left;
  margin-bottom: 10px;
  padding: 0;
  display: none;
}
.hamburger-menu-box .menu .navbar-nav .nav-item ul li {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}
.hamburger-menu-box .menu .navbar-nav .nav-item ul li a {
  width: 100%;
  float: left;
  font-size: 15px;
  color: #fff;
}
.hamburger-menu-box .menu .navbar-nav .nav-item ul li a:hover {
  text-decoration: none;
}
.hamburger-menu-box .menu .navbar-nav .nav-item .nav-link {
  width: 100%;
  float: left;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
}
.hamburger-menu-box .inner {
  width: 100%;
  float: left;
  padding: 30px calc(25vw - 50px);
  display: block;
}
.hamburger-menu-box .inner .swiper-slider {
  width: 60%;
  margin: 0 20%;
  margin-bottom: 20px;
  border: 5px solid #fff;
}
.hamburger-menu-box .inner .swiper-slider .swiper-pagination-bullet-active {
  background: #fed20f;
}
.hamburger-menu-box .inner .lead {
  color: #fff;
}
.hamburger-menu-box .inner .ghost-btn span {
  background: none;
  -webkit-text-fill-color: #ffffff;
}
.hamburger-menu-box.show-me {
  opacity: 1;
  visibility: visible;
}
